.container {
  width: 1322px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  margin-top: 160px;
  margin-bottom: 39px;
  @media (max-width: 768px) {
    width: 335px;
    margin-top: 72px;
    align-items: center;
  }
}

.content {
  display: flex;
  padding: 24px 0 48px;

  & > div {
    &:nth-child(1) {
      margin-right: 70px;
      @media (max-width: 768px) {
        margin-right: 0;
        order: 0;
      }
    }
    &:nth-child(2) {
      margin-right: auto;
      @media (max-width: 768px) {
        margin-right: 0;
        order: 1;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 266px;

  @media (max-width: 768px) {
    align-items: center;
    & > p {
      text-align: center;
    }
  }
}

.catalogAndNavigation {
  display: flex;
  gap: 92px;

  @media (max-width: 768px) {
    gap: 29px;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 278px;
  color: var(--text);

  & > div {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > a {
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    gap: 16px;
    width: 160px;
    & > div {
      gap: 12px;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;

  color: var(--text);

  & > div {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > a {
      text-decoration: none;
    }
  }
  @media (max-width: 768px) {
    gap: 16px;
    width: 120px;
    & > div {
      gap: 12px;
    }
  }
}

.contacts {
  width: 344px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
    width: 198px;
    align-items: center;
    gap: 12px;
  }
}

.phones {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info {
  display: flex;
  justify-content: space-between;

  & > p {
    color: var(--grey-3);
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
