@import '../../shared/config/styles/functions.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1490(48);
}

.galleryList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: vw-1490(32) vw-1490(22);

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
