.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  width: 314px;
  text-align: center;
  .imageContainer {
    position: relative;
    width: 314px;
    height: 444px;
    border: 1px solid #252b331a;
    border-radius: 12px;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 160px;
      height: 226px;
    }
  }

  &:hover {
    & > p {
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
    }
    .imageContainer {
      border-color: var(--blue);
    }
  }

  @media (max-width: 768px) {
    width: 160px;
    gap: 8px;
  }
}
