.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header {
  display: flex;
  align-items: center;
  gap: 16px;

  .number {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 58px;
    height: 58px;

    background-color: var(--green);
    color: var(--white);
    border-radius: 4px;
  }
}

.elem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
