@import '../../shared/config/styles/functions';

.container {
  width: 100%;
  height: 420px;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .container {
    height: vw-1490(420);
    border-radius: vw-1490(12);
  }
}

@media (max-width: 768px) {
  .container {
    height: 200px;
    border-radius: 12px;
  }
}
