.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 32px;
  border-radius: 12px;
  background-color: var(--white);
  border: 1px solid #252b331a;

  &:hover {
    border: 1px solid var(--blue);
  }
  @media (max-width: 768px) {
    text-align: center;
    gap: 16px;
  }
}
.content {
  display: flex;
  gap: 48px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
  }
}
.imageContainer {
  position: relative;
  width: 426px;
  height: 426px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f8f8f9;
  flex-shrink: 0;
  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    width: 271px;
    height: 271px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.characteristic {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > div {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    gap: 16px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 271px);
    }
  }
}
