.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  @media (max-width: 768px) {
    gap: 6px;

    & > div {
      gap: 0;
    }
    & > svg {
      width: 33px;
      height: 36px;
    }
  }
}
