@import '../../shared/config/styles/functions.scss';

.logo {
  display: flex;
  align-items: center;
  gap: vw-1490(10);

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .imageContainer {
    position: relative;
    width: vw-1490(55);
    height: vw-1490(55);

    @media (max-width: 768px) {
      width: 36px;
      height: 36px;
    }
  }

  @media (max-width: 768px) {
    gap: 6px;

    & > div {
      gap: 0;
    }
  }
}
